#campo_minado {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
}

#campo_pausado {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    z-index: 1;
    background-color: rgba(40, 169, 225, 0.3);
    color: white;
    font-size: 2em;
}


#game_over {
    position:absolute;
    width: 250px;
    min-height:200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    font-size: 2em;
}

.zona {
    position:absolute;
    box-sizing: content-box;
    background-color: gray;
    border: 2px solid silver;
    margin: 0;
    width: 50px;
    height: 50px;
    text-align: center;
}

.zona:hover {
    background-color: #f5f5f0;
}

.bomba {
    background-image: url("../img/explosion.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.revelado {
    animation-name: revelar;
    animation-duration: 3s;    
    background-color:#f5f5f0;
}

@keyframes revelar {
    from {background-color: gray}
    to {background-color: #f5f5f0}
}

.bandeira {
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#game_over.revelado {
    animation-duration: 3s;    
    visibility:visible;
}

.um {
    color: green;
}

.dois {
    color: blue;
}

.tres {
    color: purple;
}

.quatro{
    color: red;
}

.cinco {
    color: orange;
}

